@import "compass";
*{
    box-sizing:border-box;
}
body {
    width: 65vw;
    margin: 0 auto;
    color:#444;
}
a {
    color: #0078e7;
}
a:hover{
    color: #444
}
main{
    min-height: 92vh;
}
header{
    padding-top: 1px;
}

footer{
    border-top:1px solid silver;
    padding: 5px 0;
    margin-top: 8px
}
fieldset {
    background-color: rgb(223, 236, 240);
    border-width: 0 ;
    padding-bottom: 0;
}
fieldset:hover {
    background-color: #eee;
}
legend{
    background-color: white;
    padding: 2px 5px;
}

dl{
    margin:0 10px 10px 0;
    line-height: 1.5rem;
    float:left;
    span{
        float: left;
        width: 99px;
        text-align: right;
    }
}
dd{
    margin-left: 102px;
    padding-left: 5px;
        width: 120px;

}
dd:hover{
    background-color: white
}
.spans {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding-right: 3px;
}
.green {
    @extend .spans;
    background-color: rgb(28, 184, 65);/* this is a green */
}
.maroon {
    @extend .spans;
    background-color: rgb(202, 60, 60);/* this is a maroon */
}
.lightblue{
    @extend .spans;
    background-color: rgb(66, 184, 221);/* this is a light blue */
}
.blue{
    @extend .spans;
    background-color: #0078e7;
}

.orange{
    @extend .spans;
    background-color: #EB6841;/* this is an orange */
}
.blueee{
    @extend .spans;
    background-color: #00A0B0;
}
.brown{
    @extend .spans;
    background-color: #6A4A3C;
}
.red{
    @extend .spans;
    background-color: #CC333F;
}
.yellow{
    @extend .spans;
    background-color: #EDC951;
}

.info{
    display: inline-block;
    margin-bottom: 10px;
}

.clearfix:after{
    content:'';
    clear:both;
    display:block;
    height: 0;
    overflow: hidden;
}
